doctype html
html
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    block styles
    link(rel="stylesheet", href="/styles/importer.css")
    link(rel="stylesheet", href="/styles/bootstrap.css")
    link(rel="stylesheet", href="/styles/custom.css")
  body
    #body-container
      #page-navbar
        nav.navbar.navbar-default
          ul.nav.navbar-nav
            if session.authenticated
              li.active
                a(href="/user/show/#{session.User.id}") #{session.User.name}
              li
                a(href="/user") User Administration
              li
                a(href="/session/destroy") Sign Out
          .collapse.navbar-collapse
            unless session.authenticated
              form.navbar-form.navbar-right(action="/session/create" method="POST")
                .form-group
                  input(class="form-control" placeholder="Email" name="email" type="text")
                .form-group
                  input(class="form-control" placeholder="Password" name="password" type="password")
                .form-group
                  button.btn.btn-success(type="submit")
                    span.sign-in.sign Sign in
                  input(type="hidden" name="_csrf" value="#{_csrf}")
      #page-container
        block body
      #page-footer

    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/jquery-2.1.3.js")
    script(src="/js/dependencies/angular.js")
    script(src="/js/dependencies/bootstrap.min.js")
    script(src="/js/dependencies/compareTo.js")
    script(src="/js/dependencies/csrf.js")
    script(src="/js/dependencies/toastr.js")
    script(src="/js/dependencies/validation-jquery.js")
    script(src="/linker/custom-script.js")
    script(src="/js/public/app/components/signup/SignupModule.js")
    script(src="/js/public/app/components/signup/SignupController.js")
    // SCRIPTS END
